# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/build/macos
build/837d3416bb09aae8f2fa37c5f718621d/gen_dart_plugin_registrant.stamp
build/5ed1ec56e46357ec5ad2faed02821e03.cache.dill.track.dill
/*.stamp
build/9020fb19390ef41f4137a82b37dfb01f/*
build/linux/*
build/flutter_assets/*
build/native_assets/*
*/.last_build_id
build/d7b177071baaf4ee18da1044770cbdc7.cache.dill.track.dill
